eval "$(skogcli config export-env --namespace skogai,uv,ansible,claude,codex)"
export ANSIBLE_BECOME_PASSWORD_FILE=/home/skogix/.ssh/ansible-become-password
export ANSIBLE_VAULT_PASSWORD_FILE=/home/skogix/.ssh/ansible-vault-password

source .venv/bin/activate
