eval "$(skogcli config export-env --namespace skogai,uv,ansible,claude,openrouter)"
export ANSIBLE_BECOME_PASSWORD_FILE=/home/skogix/.ssh/ansible-become-password
export ANSIBLE_VAULT_PASSWORD_FILE=/home/skogix/.ssh/ansible-vault-password
ource .venv/bin/activate
