---
extends: default

rules:
  line-length:
    max: 120
    level: warning

  indentation:
    spaces: 2
    indent-sequences: true

  comments:
    min-spaces-from-content: 1

  # ansible-lint requires comments-indentation to be disabled
  comments-indentation: false

  # ansible-lint requires braces.max-spaces-inside to be 1
  braces:
    max-spaces-inside: 1

  # ansible-lint requires octal-values rules
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

ignore: |
  .cache/
  .collections/
  logs/
  .github/
  .direnv/
