[defaults]
inventory = .inventory
retry_files_enabled = False
interpreter_python = /bin/python
nocows = 1
collections_path = ./tmp/collections
galaxy_cache_dir = ./tmp/galaxy_cache
roles_path = ./roles

# Reduce verbosity for pre-commit checks
stdout_callback = default
display_ok_hosts = no
display_skipped_hosts = no

[galaxy]
cache_dir = ./tmp/galaxy_cache
token_path = ./tmp/galaxy_token
