[defaults]
collections_path = ~/.ansible/.collections

# [privilege_escalation]
# become_password_file = %(HOME)/.ssh/ansible-become-password
#
# [vault]
# vault_password_file = %(HOME)/.ssh/ansible-vault-password
