[defaults]
inventory = .inventory
retry_files_enabled = False
interpreter_python = auto
nocows = 1
collections_path = ./tmp/collections
galaxy_cache_dir = ./tmp/galaxy_cache
roles_path = ./roles
stdout_callback = default
result_format = yaml
display_ok_hosts = no
display_skipped_hosts = no
bin_ansible_callbacks = true

[galaxy]
cache_dir = ./tmp/galaxy_cache
token_path = ./tmp/galaxy_token
