[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate run --token-file {{ cloudflared_token_file }} {{ cloudflared_extra_args | default('') }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
