[Unit]
Description=Cloudflare Tunnel
After=network.target

[Service]
Type=simple
User={{ ansible_user_id }}
ExecStart=/usr/bin/cloudflared tunnel --no-autoupdate run \
  --credentials-file {{ cloudflared_creds_file }} \
  {{ cloudflared_extra_args | default('') }} \
  {{ cloudflared_tunnel_id }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
